
// global colors
@primary : #ffa200;
@background-color: #111111;

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
background-color: @background-color;
text-align: center;

}
.headline(){
    font-size: 5rem;
    font-family: 'Teko', sans-serif;
    text-align: center;
    color: white;
}

.sub--headline(){
    font-size: 2.5rem;
    font-family: 'Teko', sans-serif;
    text-align: left;
    color: white;
}
.normal--text(){
    font-size: 1.3rem;
    font-family: 'Roboto', cursive;
    text-align: center;
    color: white;
}

.index--main--headline{
    .headline();
    line-height: 6rem;
    
    
}

.index--main--subheadline{
    .normal--text();
}

.main--headline--container{
    padding: 50px;

}